# Objectives


* **Introduction to Python Part I**<br><br>

* **Hands-on**
 * Syntax
 * Strings
 * Lists
 * Comparators<br><br>

* **Future Topics**<br><br>

* **Helpful hints & resources**

# Introduction

### What is Python
* General purpose, 
 * *High Level*
 * *Structured*
 * *Interpreted*
 * *Object-oriented Language*

### Ways to run Python
* Interactive Interpreter (Classic command line interpreter or Python Shell)
* Script from command line - Used to run a python program
* General purpose Integrated Development Environment (IDE)
* Python dedicated IDEs like Spyder

#### For more information visit: https://www.python.org/about/success

# Variables and Data Types

### Variables
* Stores a piece of data and gives it a specific name
* Do not need to specify data type (No Declaration needed)
* Equal sign **( = )** is used to assign values to variables

# Exploring the Jupyter Interface
### 'Files' tab
* Navigate to the folder from which you want to work
* Create new Python Notebooks, scripts with Text File, folders or Terminals
### 'Running' tab
* Monitor currently running Terminals and Notebooks
### New Text Files/Scripts
* New scripts are used to save python scripts or programs 
* New scripts are saved in the current folder path
* Change the Language to python and rename the file with a **'.py'** extension
### New Python Notebooks
* A notebook allows you to create, save and share documents that contain live code
* New Notebooks are saved in the current folder path as a .ipynb extension
* You may rename the notebook
* To add python code, select **'Code'** in the dropdown
 * Hit **Enter** to add another line in the current cell
 * Hit **Control-Enter** or click **Run** executes the code in a cell. This will automatically add a new cell below
* To add normal text as narrative to the notebook, select **'Markdown'** or **'Heading'** in the dropdown
 * Go to this link for more on Markdowns - https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet

In [1]:
v = 98

**' v '** is the variable name
<br>
**' = '** is the assignment operator
<br>
**98** is the value

#### Variable names
* No spaces allowed (Use underscore or init caps, example - 'my_name' or 'myName')
* No special symbols or characters like '"@#%^&()-/\* except the underscore '_'
* Cannot begin with a number but may have a number within the variable name
* The python community by convention begin variable names with small letters but caps are allowed anywhere else

In [1]:
my_name = 'Edward Norton'

In [ ]:
v_1 = 8
v_2 = 9

#### Using a variable
To use a variable, just type out the variable name. 
<br>
See examples below

In [ ]:
print(my_name)

In [ ]:
age = v_1 + v_2

In [ ]:
print ('I am', age, 'years old')


1. **'print'** is a function that displays its arguments (inputs). It can take multiple arguments (inputs) separated by commas '**,**'.
2. Parenthesis is compulsory for Python 3

### Data types
Data Types are implied. They do not have to be declared
* Numeric types - int,long,float,complex
* Boolean - True, False
* String
* List
* Tuple
* Dictionary

# Math Operators

#### Addition ( + )

In [ ]:
2+3

#### Subtraction ( - )

In [ ]:
9-3

#### Multiplication ( * )

In [ ]:
3*8

#### Division( / )

In [ ]:
3/2

#### Modulus( % )

In [ ]:
9%5

#### Floor Division ( // )

In [ ]:
3//2

#### Exponent( ** )

In [ ]:
2**3

# Comments
* Single line commenting symbol is the hash symbol '#'
* The interpreter ignores everything after #
* Leave comments in your code to make it understandable to other team members and for yourself

In [ ]:
# This line is ignored

In [ ]:
# This is a multiline comment
# This line and the line above are both ignored by the interpreter

# Exercise 1
#### Tip Calculator!!
Cost of meal = 54.76
<br>
Tax = 7.85%
<br>
Tip = 15%
<br>
Find the tax amount, cost after the tax, tip amount, and total cost

In [ ]:
# Create a variable for cost of meal, tax and tip and assign their values
# Note that percentage is not captured in programming languages. Divide by 100 instead. 
cost_of_meal = 54.76




# Calculate tax amount by creating a variable for it and assign it to a formula using the variables for cost of meal and tax


# Calculate cost after tax


# Calculate tip amount
# Hint: Calculate the tip amount the cost after tax


# Calculate total amount


print('My original meal cost is', cost_of_meal)

# Follow the example above and print the tax amount


# Print the cost after tax


# Print the tip amount


# Print the total cost of the meal

# Strings
Any strand of all characters on the keyboard put in quotation.
#### One line strings - declared in single quotes (' ') or double quotes (" ")
Single and double quotes can be used interchangeably

In [ ]:
name_1 = 'Dimitri Asimov'
name_2 = "The Man The Legend"

In [ ]:
# this is a string and not an integer
age = '2'

In [ ]:
# Start with a double quote if you use a single quote in your string
f = "This is Giovanni's pencil"

In [ ]:
# Start with a single quote if you use a double quote in your string
f = 'Buggati said "This is my pencil"'

In [ ]:
print (f)

#### Multiple lines strings - declared in triple quotes ( """ """ or ''' ''' )

In [ ]:
eg = """I am a physicist therefore I am always right """

In [ ]:
print(eg)

#### Using triple quotes as comments
Many developers use the triple quote as comments even though it is **not good programming practice**.

The interpreter ignores any unassigned value only storing it in memory with no variable to track its address.

In [ ]:
'''This can be used as a comment in
your code. The interpreter ignores any unassigned value
only storing it in memory with no variable to track its address'''

# my real code starts here
print(55)

### String Indexing
**Each character can be accessed by using their index starting from index 0**

In [ ]:
name = 'George Papadopoulos'

In [ ]:
name[0]

In [ ]:
name[1]

In [ ]:
name[6]

In [ ]:
name[12]

**You can start indexing from the right side with negative indexes starting with index -1**

In [ ]:
name[-1]

In [ ]:
name[-2]

In [ ]:
name[-13]

### Slicing
**You can extract a range os characters**
<br>
Assume a string variable called **'var'**
<br>
**var[starting index : ending index + 1]**

In [ ]:
name

In [ ]:
name[0:6]

In [ ]:
name[7:13]

In [ ]:
name[1:4]


**Strings are "IMMUTABLE"**
Once you create a string object, you cannot change a particular string location.
<br>
**name[6] = 'c'** 
<br>
will result in the error below

TypeError                                 Traceback (most recent call last)
<br>
< ipython-input-44-d47a2608aba2 > in < module >()
<br>
----> 1 name[6]='-'
<br>
TypeError: 'str' object does not support item assignment

### Some String Functions and Methods

**Length of string**

In [ ]:
len(name)

**Convert to string**

In [ ]:
age = 3

In [ ]:
str(age)

**Convert to lower case**

In [ ]:
name.lower()

Convert to upper case

In [ ]:
name.upper()

**Is digit/Is alpha**

Output is a Boolean value (True/False)

In [ ]:
name = 'Taylor'

In [ ]:
name.isdigit()

In [ ]:
name.isalpha()

In [ ]:
str(age).isdigit()

**Replace characters**

In [ ]:
name.replace('s','k')

**Split a string using a delimiter character**

In [ ]:
text = 'I am going to the University of Cincinnati'
name = "Dr Brand"

In [ ]:
text.split(' ')

In [ ]:
name.split('-')

### String Concatenation
**Combining of strings is done by using the (+) operator between them**

In [ ]:
string1 = 'My name is '
name = 'John'
string2 = string1 + name
print(string2)

**In order to combine a string with a non-string variable, use str( ) method to convert non-strings to strings**
<br>
You cannot concatenate a string with a non-string type without converting the non-string type to a string.
<br>
No conversion will result in error similar tp the error below

TypeError                                 Traceback (most recent call last)
<br>
< ipython-input-77-887da7680fd9 > in < module >( )
<br>
----> 1 string1 + 9
<br>
TypeError: must be str, not int

In [ ]:
string1 = 'My name is '
name = 'Cooper '
age = 16
string2 = string1 + name + 'I am ' + str(age) + ' years old'
print(string2)

# Lists
* A datatype that can store a collection of different pieces of information as a sequence under a single variable name
* **Creating lists** - Put comma separated values within square brackets. Values can be of different data types

In [ ]:
list1 = ['physics','astronomy',56.98,'MJ',-9.36]

# list within a list
list2 = ['chemistry','biology',77.98,[3,4,65],'EE',-56]

### Accessing values via indexing
* Same as String objects. 
* Elements or a range of elements can be accessed by index

In [ ]:
list1[0]

In [ ]:
list1[1]

In [ ]:
list1[4]

In [ ]:
list1[-1]

In [ ]:
list1[-2]

In [ ]:
list1[1][3]

In [ ]:
list2[3]

In [ ]:
list2[3][2]

In [ ]:
list1[0:4]

In [ ]:
list2[3:5]

### List Concatenation
**Can be done by using the (+) operator between two lists**

In [ ]:
[1,2,3] + [5,6,7]

In [ ]:
list1 + list2

### Some List Functions and Methods

**Length of a list**

In [ ]:
len(list1)

In [ ]:
len(list2)

**Maximum/Minimum value**

In [ ]:
list3 = [3,4,67,2,1] 
list4 = ['3','4','67','2','1','four','three']

In [ ]:
max(list3)

In [ ]:
max(list4)

In [ ]:
min(list4)

**Append object to list**

In [ ]:
list4.append('two')
list4.append('three')
list4

**Frequency of object**

In [ ]:
list4.count('three')

**Return index**

In [ ]:
list4.index('1')

**Insert object**

In [ ]:
list4.insert(3,56)
list4

**Delete object**

*By Index position*

In [ ]:
list4.pop(3)

In [ ]:
list4

*By element referencing*

In [ ]:
list4.remove('67')

In [ ]:
list4

**Reverse the list**

In [ ]:
list4.reverse()
list4

**Sort the list (natural order)**

In [ ]:
list4.sort()
list4


**Lists are "MUTABLE"**

In [ ]:
list4[5] = 5
list4

# Tuples
**Tuples are sequences, just like lists except**
* Tuples are immutable - cannot be changed or updated like lists
* Tuples use parenthesis ( ), whereas lists use square brackets [ ]

In [ ]:
tup = (3,4,67,2,1)

**tup[2] = 8**
<br>
will result in the error below

TypeError                                 Traceback (most recent call last)
<br>
< ipython-input-177-256383ac5724 > in < module >()
<br>
----> 1 tup[2] = 8
<br>
TypeError: 'tuple' object does not support item assignment

# Dictionary

* Similar to a list except values are accessed by looking up a **key** instead of an index
* A key can be a string or number
* **Creating dictionaries** - **key-value** pairs are separated by colons (**:**), items are separated by commas (**,**) and everything is enclosed in curly braces { }

In [ ]:
dict1 = {"name":"Daniel","age":23,"degree":"MS"}
dict2 = {'name':'Francis','age':60,'job':'Car designer','brand':'Jaguar','worked-for':['Ford','TWR','Aston Martin']}

* **Accessing values**

In [ ]:
dict1['age']

In [ ]:
dict2['worked-for']

In [ ]:
dict2['worked-for'][1]

* **Updating dictionary** - Dictionaries are MUTABLE. 
<br>
  You may **modify an existing entry** and **add new entry**

In [ ]:
dict1['subjects'] = ["OS",'DBMS','Artificial Intelligence']

In [ ]:
dict1

In [ ]:
dict1['degree']='Master of Science'

In [ ]:
dict1

### Some Dictionary functions and Methods
**Length of Dictionary**

In [ ]:
len(dict1)

**Shallow copy**

In [ ]:
dict3 = dict1.copy()
dict3

**Return value with get method**

In [ ]:
dict1.get('name')

**List of key-value pairs**

In [ ]:
dict1.items()

**List of keys**

In [ ]:
dict1.keys()

**List of values**

In [ ]:
dict1.values()

# Control Flow
### Comparison Operators
* Used to form Conditions
* Generates Boolean Outputs

In [ ]:
a = 5
b = 6
name = 'Smith'

**Equal to (==)**

In [ ]:
a == 5

In [ ]:
a == b

**Not equal to (!=)**

In [ ]:
a != b

In [ ]:
name != 'Smith'

**Less than (<) and Greater than (>)**

In [ ]:
a < b

In [ ]:
b > 7

**Greater than or equal to (>=) and Less than or equal to (<=)**

In [ ]:
a <= 5

In [ ]:
b >= 7

In [ ]:
a

### Logical Operators
Combinational operators - Logical operators are used to combine Comparison statements and to negate the output of a Comparison statement.
<br>
Below are Logical operators supported by Python language. All other Logical operators can be derived from these

**Logical AND (and)**

In [ ]:
a <= 5 and a < b

In [ ]:
a <= 5 and b >= 7

**Logical OR (or)**

In [ ]:
a <= 5 or a < b

In [ ]:
a <= 5 or b >= 7

**Logical NOT (not)**

In [ ]:
not(a <= 5)



1. **Note**: Precedence for Logical operators - **not, and, or**<br><br>

2. **Hint for taking input from user**
   * Python 2 - **input ( ) function will return number**
<br>
$\;\;\;\;\;\;\;\;\;\;\;\;\;$**raw_input ( ) function will return string**
   * Python 3 - **input ( ) function will return string**
<br>
$\;\;\;\;\;\;\;\;\;\;\;\;\;$**raw_input ( ) is not available in Python 3. Use input and convert to a numerical type if needed**

In [ ]:
var = input('enter value: ')

print(var)

# Exercise 2
#### Comparators
1. Take two inputs from user and check whether they are equal or not.<br><br>
2. Take 3 inputs from user and check if
   * they all are equal
   * any of two are equal<br>
   **HINT**:  use **and**, **or**<br><br> 
3. Take two number from user and check whether the sum is greater than 5, less than 5 or equal to 5.   
   **HINT**:  For Python3 users, since the **input** outputs a string, use the **float()** to convert to a floating number before comparing<br><br>
4. Judge the following expressions :<br>
   **not(True and True)**<br>
   **True or False**<br>
   **not(False and True)**<br>
   **False and False**<br>
   What do you think are the results?<br>
   Try them on commandline


# Helpful Resources
*  http://guides.libraries.uc.edu/python
 * Python documentation - https://www.python.org/doc/
 * Python Programming wiki book - http://en.wikibooks.org/wiki/Python_Programming